.edit-form {
    padding: 15px;
}

.edit-form .col-form-label {
    font-size: 14px;
    color: #454545;
    font-weight: 600;
}

.edit-form .form-control {
    font-size: 15px;
    line-height: 24px;
    color: #454545;
    font-weight: 400;
    border: 1px solid #dfe5e8;
}
.edit-form small {
    font-size: 12px;
    color: #6f808c;
    font-weight: 400;
}

.edit-form .form-control-file {
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #cfd1db;
    border-style: dashed;
    padding: 10px;
    height: 69px;
}

.edit-form .add-border {
    border-bottom: 1px solid #dfe5e8;
    padding-bottom: 15px;
}

.edit-form .form-control-file:focus{
    outline: none;
}

.uploader-wrap{
    position: relative;
}

.uploader-wrap .file-group-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
}



.action-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.action-wrapper ul li {
    padding: 10px 20px;
    border-bottom: 1px solid #dfe5e8;
}

.action-wrapper ul li:last-child {
    border: none;
}

.action-wrapper ul li .change-pwd {
    font-size: 15px;
    line-height: 24px;
    color: #454545;
    font-weight: 400;
}

.action-wrapper ul li .logout{
    font-size: 15px;
    line-height: 24px;
    color: red;
    font-weight: 400;
}

.action-wrapper ul li i {
    margin-right: 10px;
}
.user-wrapper {
    padding: 20px 30px;
}
.user-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.user-content-top .add-btn {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    font-weight: 500;
    padding: 7px 10px;
}

.user-content-top .add-btn i {
    font-size: 10px;
    margin-right: 8px;
}


.company-setting-content .tabscontent-unique.box {
    display: none;
}

.company-setting-content label {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    color: #454545;
    font-weight: 400;
}

.company-setting-content .global-wrap, 
.company-setting-content .unique-wrap {
    margin-bottom: 15px;
}
.company-setting-content input[type='radio']:after {
    width: 17px;
    height: 17px;
    border-radius: 15px;
    /* top: -2px;
    left: -2px; */
    position: absolute;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #d7dde0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.company-setting-content input[type='radio']:checked:after {
    width: 17px;
    height: 17px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 5px solid #2d7fe5;
}

.company-setting-content input {
    margin-right: 10px;
    position: relative;
}
.company-setting-content {
    padding: 15px;
}

.company-setting-content .box {
    padding: 10px 25px;
    display: flex;
    align-items: center;
}

.company-setting-content .select-wrap {
    margin-right: 10px;
}

.company-setting-content select {
    height: 35px;
    font-size: 14px;
    color: #454545;
    font-weight: 400;
    width: 90px;
}
.company-setting-content .select-group-btn {
    right: 5px;
}
.per-property-content {
    border-radius: 4px;
    border: 1px solid #dfe5e8;
    max-width: 450px;
}
.per-property-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.per-property-content ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid #dfe5e8;
}

.property-update-content {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.property-name {
    font-size: 14px;
    line-height: 24px;
    color: #454545;
    font-weight: 500;
    margin: 0;
}

.property-days {
    font-size: 14px;
    line-height: 24px;
    color: #454545;
    font-weight: 400;
}
.no-property-days {
    font-size: 14px;
    line-height: 24px;
    color: #9ba1b3;
    font-weight: 400;
}
.edit-property a {
    color: #8ea3b3;
}
#property-update {
    display: none;
}
#edit-property-btn {
    background-color: #fff;
    border: none;
    color: #8ea3b3;
}

.per-property-content.scroller {
    height: 280px;
}

.company-property-table .btn-white {
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.company-property-table .btn-white svg {
    margin-right: 5px;
}
@media(max-width: 767px){
    .user-wrapper {
        padding: 20px 15px;
    }
    .user-table td {
        min-width: 250px;
    }
    /* #page-content-wrapper {
        height: 100vh;
    } */
    #edit_company_176 {
        padding: 20px 0px;
    }
    .uploader-wrap .file-group-btn {
        right: 5px;
    }
    .edit-form .form-control {
        margin-bottom: 10px;
    }
}

@media(max-width: 425px){
    .property-update-content {
        display: flex;
        flex-flow: wrap;
    }
    .per-property-content .select-wrap {
        width: 100%;
        margin: 5px 0;
    }
    .per-property-content select {
        width: 100% !important;
    }
    .per-property-content .btn-wrap {
        margin: 5px 0;
    }
    .per-property-content {
        max-width: 100%;
    }
    .user-content-top .add-btn i {
        font-size: 10px;
        margin-right: 5px;
    }
    .search-container input {
        width: 150px;
    }
    .company-setting-content .box {
        padding: 10px 0px;
    }
}