.edit-form {
    padding: 15px;
}

.edit-form .col-form-label {
    font-size: 14px;
    color: #454545;
    font-weight: 600;
}

.edit-form .form-control {
    font-size: 15px;
    line-height: 24px;
    color: #454545;
    font-weight: 400;
    border: 1px solid #dfe5e8;
}
.edit-form small {
    font-size: 12px;
    color: #6f808c;
    font-weight: 400;
}

.edit-form .form-control-file {
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #cfd1db;
    border-style: dashed;
    padding: 10px;
    height: 69px;
}

.edit-form .add-border {
    border-bottom: 1px solid #dfe5e8;
    padding-bottom: 15px;
}

.edit-form .form-control-file:focus{
    outline: none;
}

.select-wrap select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }
  
.select-wrap {
      position: relative;
}
  
.select-wrap .select-group-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.uploader-wrap{
    position: relative;
}

.uploader-wrap .file-group-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
}