body {
    font-family: 'Inter', sans-serif;
    background-color: #f1f2f4;
}

a:hover {
    text-decoration: none;
    color: #000;
}

hr {
    border: 1px solid #335b75;
    width: 100%;
    margin: 10px 0;
    padding: 0;
    background-color: #335b75;
}
b, strong {
    font-weight: 600;
}
textarea {
    resize: none;
}
.close:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
button:focus {
    outline: none;
}
input:focus {
    outline: none;
}

.form-control:focus {
    box-shadow: none;
}

.form-check input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
    margin: 4px -20px;
    width: 17px;
    height: 17px;
    border-radius: 2px;
    background-color: #ffffff;
}
.form-check-label {
    font-size: 15px;
    line-height: 24px;
    color: #454545;
    font-weight: 400;
    margin-left: 5px;
}

button {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.button.focus, .button:focus {
    outline: 0;
    box-shadow: none;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

  .sidebar-header {
    color: #000;
    padding: 15px 25px;
    font-size: 38px;
    border-bottom: 2px solid #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  #close-sidebar {
    display: none;
  }
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    background-color: #fafafa;
    overflow: hidden;
    width: 120px;
    filter: drop-shadow(0px 0px 10px rgba(210,213,214,0.7));
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    border-radius: 0;
    margin: 10px 0px;
  }
  
  #sidebar-wrapper .list-group-item {
    padding: 8px 0px;
    background-color: #fafafa;
    border: none;
    color: #000;
    border-left: 4px solid #ffffff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
  }
  #sidebar-wrapper .list-group-item.active {
    background-color: #d1e1ee;
    border-left: 4px solid #3474da;
    color: #000;
  }

  #page-content-wrapper {
    width: 100%;
    margin-top: 68px;
    overflow: hidden;
    padding: 30px;
  }
  .top-heading {
    margin: 0;
    font-size: 16px;
    color: #778493;
    font-weight: 600;
}


.icon {
    display: block;
    width: 100%;
    text-align: center;
}  
.icon i {
    font-size: 20px;
}

#wrapper {
    overflow-x: hidden;
    position: relative;
 }

.site-header {
    background-color: #fff;
    height: 68px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 120px;
}
.site-header .navbar {
    padding: 4px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
}

.site-header .navbar-nav {
    align-items: center;
}

.site-header .navbar-nav:focus {
    outline: none;
}

.site-header .nav-link{
    color: #67717f;
    font-size: 13px;
    font-weight: 500;
    padding: 10px 0 !important;
}

.site-header .nav-item {
    border-right: 1px solid #eaedf7;
    padding: 0 10px;
}

.site-header .nav-item:last-child {
    border: none;
    padding-right: 0;
}


.navbar-toggler {
    padding: 0px;
}
.navbar-toggler-icon {
    height: auto;
}
.navbar-toggler:focus, .navbar-toggler:hover,
.navbar-toggler-icon:focus {
    outline: none;
}

.navbar-content-left {
    display: flex;
    align-items: center;
}
.navbar-toggler-icon div {
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 4px 0;
    display: block;
}

#main-wrapper {
    border-radius: 4px;
    filter: drop-shadow(0px 2px 3px rgba(210,213,214,0.7));
    background-color: #ffffff;
    margin: 20px 30px;
}
.form-content {
    padding: 60px 100px;
    width: 100%;
}

input[type="text"] {
    width: 100%;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #fafafa;
}

input[type="text"]::placeholder {
    color: #000;
    font-size: 14px;
    font-weight: 700;
}

.or-tag {
    text-align: center;
    display: block;
    padding: 20px 0;
    font-size: 15px;
    font-weight: 700;
}
.uploader {
    background-color: #fafafa;
    padding: 20px;
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uploader h2 {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
}

@media (min-width: 992px) {
    #sidebar-wrapper {
      margin-left: 0;
      display: block !important;
    }
    .top-side-wrap {
      z-index: 1000;
    }
  }
  
  @media(max-width: 991px){
    .site-header {
      margin-left: 0 !important;
    }
    .overlay-bg {
      display: block;
      position: fixed;
      width: 100vw;
      height: 100vh;
      background: rgb(0, 0, 0, 0.7);
      z-index: 1;
      opacity: 1;
    }
    #sidebar-wrapper {
      width: 240px;
    }
    #wrapper.toggled #sidebar-wrapper {
      margin-left: 0;
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 10;
      width: 260px;
    }
  
    #close-sidebar {
      position: absolute;
      right: 20px;
      top: 10px;
      display: block;
    }
    .form-content {
        padding: 30px 0px;
        width: 100%;
    }
  }