.site-content {
    border-radius: 4px;
    filter: drop-shadow(0px 2px 3px rgba(210,213,214,0.7));
    background-color: #ffffff;
    padding: 5px 15px;
    margin: 10px 0;
}
.site-content.graph-bg {
    height: 254px;
}
.graph-wrap #chart {
    min-height: 160px !important;
}
.graph-content-lr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.graph-content-lr h2, .graph-content-center h2 {
    font-size: 14px;
    color: #6f808c;
    font-weight: 400;
    margin: 0;
}

.graph-content-center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.graph-content-empty {
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graph-content-empty h2 {
    font-size: 14px;
    color: #6f808c;
    font-weight: 400;
    margin: 0;
}

.site-content-top {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
}

.site-content-bottom {
    padding: 5px 0;
}

#water-tabs nav {
    background-color: transparent;
    border: none;
    filter: none;
    padding: 0;
}

#water-tabs .nav-item {
    padding: 5px 10px;
}

.action-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.action-wrap i {
    margin-right: 5px;
}
.action-wrap button {
    margin-right: 10px;
}

.accordion-content td {
    border: none;
    margin: 0;
    padding: 0 !important;
    width: 100%;
}

.accordion-content #water-tabs {
    padding: 5px 25px;
}

.time-wrap .time {
    font-size: 14px;
    line-height: 20px;
    color: #6f808c;
    font-weight: 400;
}

.time-wrap .date {
    display: block;
}

.info-wrap h3 {
    font-size: 14px;
    line-height: 24px;
    color: #454545;
    font-weight: 500;
    margin: 0;
}

.stripped-bg {
    background-color: #f7f8fa;
}

.info-wrap {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.info-wrap p {
    font-size: 13px;
    color: #454545;
    font-weight: 500;
    margin: 0;
}

.info-wrap .edit-btn-desk, .info-wrap .edit-btn-mob {
    font-size: 13px;
    line-height: 24px;
    color: #267ddf;
    font-weight: 500;
}


.property-setting-table tbody td {
    vertical-align: top;
    /* width: 300px; */
    border: 1px solid #ebedf2;
    border-right: 0;
}


#property-manager-wrap nav {
    width: 100%;
    margin: 8px 0;
    border-radius: 4px;
    filter: drop-shadow(0px 2px 3px rgba(210,213,214,0.7));
    background-color: #ffffff;
    padding: 0;
}

#property-manager-wrap .nav {
    display: block;
}

#property-manager-wrap .nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 15px;
    color: #6f808c;
    font-weight: 500;
    border: none;
    margin-right: 0;
}

#property-manager-wrap .nav-item i {
    font-size: 18px;
}

#property-manager-wrap .nav-item.active {
    color: #267ddf;
    border: none;
}

.manager-content-wrap {
    border-radius: 4px;
    filter: drop-shadow(0px 2px 3px rgba(210,213,214,0.7));
    background-color: #ffffff;
    margin: 8px 0;
}

.content-heading {
    font-size: 16px;
    line-height: 24px;
    color: #454545;
    font-weight: 600;
    margin: 0;
    /* padding: 10px 20px; */
    /* border-bottom: 1px solid #dfe5e8; */
    height: 50px;
    display: flex;
    align-items: center;
}
.manager-content-body .card {
    background-color: #fff;
    border: none;
}

.manager-content-body .card-header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px 5px 10px;
}

.manager-content-body .card-content-left {
    display: flex;
    align-items: center;
}

.card-content-left button {
    color: #000;
    padding-top: 0;
    padding-bottom: 0;
}
.card-content-right .form-input {
    position: relative;
}
.card-content-right .form-input label {
    margin: 0;
    font-size: 13px;
    line-height: 24px;
    color: #6f808c;
    font-weight: 400;
    position: absolute;
    left: 50px;
}

.card-content-right .form-input input {
    width: 40px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #dfe5e8;
    font-size: 14px;
    line-height: 24px;
    color: #454545;
    font-weight: 400;
}

.card-content-left .form-check-label {
    font-size: 15px;
    line-height: 24px;
    color: #267ddf;
    font-weight: 500;
    margin-left: 15px;
}
.card-content-left button:hover {
    color: #000;
}
.card-content-left button.collapsed {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.card-content-left button {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.card-content-left .form-check {
    margin-left: 10px;
}

.card-content-left .form-check input[type=checkbox]{
    box-sizing: border-box;
    padding: 0;
    margin: 4px -15px;
    width: 17px;
    height: 17px;
    border-radius: 2px;
    background-color: #ffffff;
}
.card-content-right .form-input input[type="number"]:disabled {
    background: #f5f6fa;
  }
.manager-content-foot {
    padding: 20px;
}

.card-body-heading {
    margin: 0px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 24px;
    color: #6f808c;
    font-weight: 500;
}

.manager-content-body .card-body ul {
    list-style: none;
    margin: 0px 0px 15px;
    padding: 0px;
}

.manager-content-body .card-body ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px 5px 0px;
    border-bottom: 1px solid #dfe5e8;
}

.manager-content-body .card-body ul li:last-child {
    border: none;
}

.manager-content-body .card-body ul li .card-content-left .form-check {
    margin: 0;
}

.manager-content-body .card-body {
    padding: 10px 0 10px 100px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}


.meter-detail-wrap {
    width: 100%;
    margin: 8px 0;
    border-radius: 4px;
    filter: drop-shadow(0px 2px 3px rgba(210,213,214,0.7));
    background-color: #ffffff;
}

#back-to-meters a {
    font-size: 15px;
    color: #267ddf;
    font-weight: 500;
}

#back-to-meters {
    padding: 15px;
    border-bottom: 1px solid #dee2e6;
}

.meter-detail-content {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: wrap;
}

.meter-title {
    font-size: 16px;
    line-height: 24px;
    color: #454545;
    font-weight: 600;
    margin: 0px;
}

.meter-days, .meter-reading {
    font-size: 14px;
    line-height: 24px;
    color: #454545;
    font-weight: 400;
    margin: 0;
}

#meter-detail-tab {
    padding: 15px;
}

#meter-detail-tab .nav {
    display: flex;
    align-items: center;
}

#meter-detail-tab .nav-item {
    padding: 0;
    border-radius: 0;
}


#meter-detail-tab .nav-link {
    border-radius: 0;
    padding: 10px 15px;
    font-size: 15px;
    color: #6f808c;
    font-weight: 400;
    border: 1px solid #dfe5e8;
}

#meter-detail-tab .nav-link.active {
    color: #454545;
    font-weight: 500;
    border-bottom: 1px solid transparent;
}

#meter-detail-tab .table-wrap {
    width: 100%;
    margin: 0;
    border-radius: 0;
    filter: none;
    background-color: transparent;
}
.meter-reading-edit a {
    font-size: 16px;
    line-height: 24px;
    color: #8ea3b3;
    padding: 0 10px;
}

.meter-user-detail ul {
    margin: 0;
    padding: 10px 0;
    list-style: none;
    border-top: 1px solid #dee2e6;
}

.meter-user-detail ul li {
    display: flex;
    align-items: flex-start;
    padding: 5px 25px;
}

.meter-user-detail ul li .title {
    font-size: 14px;
    line-height: 24px;
    color: #6f808c;
    font-weight: 500;
    margin: 0;
    min-width: 100px;
}

.meter-user-detail ul li .email {
    font-size: 14px;
    line-height: 24px;
    color: #454545;
    font-weight: 400;
    margin: 0;
}

.meter-user-detail ul li .desc {
    font-size: 14px;
    line-height: 24px;
    color: #454545;
    font-weight: 400;
    margin: 0;
}

#log-meter-modal .meter-detail-content {
    padding: 10px 0;
}
.input-number {
    text-align: center;
}
.btn-number {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem .75rem;
    height: 35px;
    display: flex;
    align-items: center;
}

.btn-number i {
    font-size: 10px;
}

.quantity-left-minus {
    margin-right: 10px;
}

.quantity-right-plus {
    margin-left: 10px;
}

.audit-progress-wrap .btn-white {
    margin: 5px 0;
}

.audit-detail-wrap ul {
    padding: 0;
    list-style: none;
    margin: 0;
}
.audit-detail-wrap ul li {
    position: relative;
}
.audit-detail-wrap ul li a {
    position: relative;
    display: block;
    cursor: pointer;
}
.audit-detail-wrap .title {
    display: flex;
    align-items: center;
    margin: 5px 5px 5px 30px;
}
.audit-detail-wrap .title h2 {
    margin: 0;
    font-size: 15px;
    line-height: 24px;
    color: #454545;
    font-weight: 500;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.audit-date {
    font-size: 13px;
    color: #6f808c;
    font-weight: 400;
    margin: 5px 5px 5px 30px;
}

.icon-wrap {
    position: absolute;
    width: 20px;
    border-radius: 50%;
}


.audit-table {
    margin-bottom: 20px;
}

.audit-table-content .title {
    margin: 0;
    font-size: 15px;
    color: #454545;
    font-weight: 500;
}

.audit-table-content {
    display: flex;
    justify-content: space-between;
}

.audit-table-content .list-no {
    font-size: 13px;
    text-transform: unset;
}

.display-wrap {
    background-color: #edeef2;
    border: 1px solid #e4e8ec;
    margin: 15px 0;
    padding: 5px 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
}

.display-title {
    color: #7d8692;
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    padding: 0 10px;
}
.display-box-wrap {
    display: flex;
    align-items: center;
    flex-flow: wrap;
}
.display-box {
    width: 28px;
    height: 28px;
    margin: 5px 5px 5px 5px;
    border-radius: 3px;
    filter: drop-shadow(0px 2px 3px rgba(210,213,214,0.7));
    cursor: pointer;
}

.display-box.white {
    background-color: #fff;
}

.display-box.black {
    background-color: #43495c;
}

.display-box:last-child {
    margin-right: 0;
}
.floor-plan-table .accordion-content td {
    padding: 0px 20px !important;
}

.table-top-heading {
    font-size: 13px;
    color: #6f808c;
    font-weight: 500;
    margin: 0;
}


#floorplan-accordion .collapse-btn {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 24px;
    color: #454545;
    font-weight: 500;
}

#floorplan-accordion .card-header {
    border-radius: 0;
    padding: 8px 15px;
    background-color: #f8f8fa;
    position: relative;
    border-color: #e6ebed;
    height: 40px;
    display: flex;
    align-items: center;
}

#floorplan-accordion .card {
    border-radius: 0;
    border-color: #e6ebed;
    border-bottom: 1px solid #e6ebed;
}

.table-top {
    margin: 0;
    padding: 10px 35px;
}

#floorplan-accordion .card-body {
    padding: 0;
}

#floorplan-accordion .collapse-btn i {
    margin-right: 10px;
    margin-left: 10px;
}

#floorplan-accordion .collapse-btn.collapsed i {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

#floorplan-accordion .collapse-btn i {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.add-unit-wrap {
    padding: 8px 0 8px 50px;
}

.add-unit-btn i {
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
}

.add-unit-btn {
    font-size: 14px;
    font-weight: 500;
    color: #267ddf;
    position: relative;
    padding-left: 15px;
}

.add-unit-btn:hover {
    color: #267ddf;
}
.floorplan-table tbody td {
    height: 40px;
    padding: 5px 20px !important;
}

.table-serial-no {
    margin-right: 10px;
    color: #afbbc4;
    display: inline-block;
    width: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;;
}
.unit-td {
    display: flex;
    align-items: center;
}
.floorplan-table .water-meter-td {
    padding: 0 !important;
}

.table-action {
    display: flex;
    justify-content: flex-end;
}

.table-action a {
    font-size: 16px;
    line-height: 24px;
    color: #8ea3b3;
    margin: 0 15px;
}
#floorplan-content-hide td {
    padding: 5px 20px !important;
}
.property-manager-form .add-btn,
.property-manager-form .save-btn {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    font-weight: 500;
    padding: 7px 10px;
    width: 61px;
    height: 32px;
    margin: 0;
}

.property-manager-form .cancel-btn{
    width: 61px;
    height: 32px;
}

.property-manager-form .form-group{
    margin: 0;
}
.property-manager-form .form-control, 
.edit_property .form-control{
    font-size: 14px;
    line-height: 24px;
    color: #454545;
    font-weight: 400;
    height: 32px;
    background-color: #fff;
}
.property-manager-form .form-control::placeholder,
.edit_property .form-control::placeholder {
    font-size: 15px;
    line-height: 24px;
    color: #454545;
    font-weight: 400;
}

.property-manager-form .select-wrap select,
.edit_property .select-wrap select {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    height: 32px;
    padding: 0 25px 0 5px;
}
.table-serial-wrap {
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.table-serial-wrap .table-serial-no {
    margin-right: 0px;
}

/* search-select-css */

.search-select-wrap .select2 {
    position: relative;
}

.search-select-wrap .select-group-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.search-select-wrap .select2-list {
      display: none;
      position: absolute;
      overflow: overlay;
      background-color: #fff;
      border-radius: 4px;
      filter: drop-shadow(0px 2px 3px rgba(210,213,214,0.7));
      width: 320px;
      z-index: 1;
      overflow-y: scroll;
      overflow-x: hidden;
      height: 200px;
}

.search-select-wrap .select2-list::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
.search-select-wrap .select2-list::-webkit-scrollbar-track {
    border-radius: 10px;
    border: 1px solid #dfe5e8;
}

/* Handle */
.search-select-wrap .select2-list::-webkit-scrollbar-thumb {
    background: #d9dce6; 
    border-radius: 10px;
}

.search-select-wrap .select2-item:hover{
    cursor: pointer;
}
.search-select-wrap .search-container {
    position: relative;
    margin: 15px;
}
.search-select-wrap {
    margin: 5px 0;
}
.search-select-wrap .select2-item {
    font-size: 14px;
    line-height: 24px;
    color: #454545;
    font-weight: 400;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 15px;
}
.search-select-wrap .title {
    font-size: 12px;
    color: #626b7c;
}
.select-label {
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #454545;
    font-weight: 600;
}
.user-table-top {
    background-color: #f8f8fa;
    padding: 10px 20px;
    border-bottom: 1px solid #dee2e6;
}
.user-table-top .btn-wrap {
    margin: 5px 0;
}
.create-new-user-wrap {
    padding: 10px 15px;
    border-top: 1px solid #dee2e6;
}

.create-new-user-wrap a {
    font-size: 14px;
    color: #267ddf;
    position: relative;
    padding-left: 15px;
}

.create-new-user-wrap i {
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
}

#Users .user-table {
    margin: 0;
}

.assigned-unit {
    background-color: #f0f3ff;
    font-size: 12px;
    color: #267ddf;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid #dae3f6;
    padding: 3px 6px;
}
.user-remove a {
    color: #dc4343;
    padding: 0 10px;
    font-weight: 500;
    font-size: 14px;
}

.info-content-right {
    display: flex;
    align-items: center;
}
.add-overage-btn, .view-more-btn, .view-less-btn{
    font-size: 13px;
    line-height: 24px;
    color: #267ddf;
    font-weight: 500;
    margin: 0 15px;
    cursor: pointer;
}
.add-overage-btn:hover, .view-more-btn:hover, .view-less-btn:hover{
    color: #267ddf;
}

.add-overage-btn i, .view-more-btn i, .view-less-btn i{
    font-size: 10px;
}

.view-more-btn, .view-less-btn {
    margin-right: 0;
}

.overage-table {
    border: 1px solid #ebedf2;
    margin: 15px 0;
    padding: 0;
}

.overage-table tbody td {
    border: none;
}

.overage-detail ul {
    margin: 0;
    padding: 15px 0;
    list-style: none;
    border-top: 1px solid #ebedf2;
}

.overage-detail ul li {
    display: flex;
    align-items: flex-start;
    padding: 5px 25px;
}

.overage-detail ul li .title {
    font-size: 14px;
    line-height: 24px;
    color: #6f808c;
    font-weight: 500;
    margin: 0;
    min-width: 110px;
}

.overage-detail ul li .desc {
    font-size: 14px;
    line-height: 24px;
    color: #454545;
    font-weight: 400;
    margin: 0;
}
.overage-table .accordion-content {
    border-bottom: 1px solid #ebedf2;
}

.overage-table .accordion-content:last-child {
    border: none;
}

.property-setting-table .stripped-bg {
    width: 280px;
}


.modal-checkbox-wrap {
    border: 1px solid #ced4da;
    padding: 0px 10px;
    height: 35px;
    align-items: center;
    display: flex;
    max-width: fit-content;
}
.modal-checkbox-wrap .form-check {
    margin: 0;
}

.modal-select-wrap {
    width: 100%;
    margin-right: 15px;
}
.modal-field-desc {
    width: 20px;
    height: 20px;
    color: #9aa6b6;
    font-size: 16px;
    margin: 0px 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-field-desc i {
    color: #9aa6b6;
    font-size: 16px;
}

.tooltip-inner {
    background-color: #003253;
}
.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #003253 !important;
}

.hidden-property-name {
    margin: 10px 0px 10px 10px;
    padding: 0 10px;
}

.hidden-property-name .form-control {
    margin-bottom: .5rem;
}

.hidden-property-name {
    border-left: 2px solid #e1e7f0;
}

.alert-event-table tbody td {
    min-width: 240px;
}

.audit-table td {
    min-width: 150px;
}

@media(max-width: 1350px){
    .table-wrap .user-table thead th, .table-wrap .user-table tbody td {
        min-width: 320px;
    }
}

@media(max-width: 1024px){
    .overage-table tbody td {
        min-width: 180px;
    }
    .overage-table {
        width: 400px;
    }
    
}

@media(min-width: 992px) and (max-width: 1190px){
    .table-wrap thead th, .table-wrap tbody td {
        padding: 8px 10px;
    }
    
} 

@media(max-width: 991px){
    .table-wrap thead th, .table-wrap tbody td {
        min-width: 240px;
    }
    .table-wrap .property-setting-table thead th, .table-wrap .property-setting-table tbody td {
        min-width: 320px;
    }
} 


@media(max-width: 767px){
    .manager-content-body .card-body {
        padding: 10px 0 10px 20px;
    }
    .info-wrap {
        display: block;
    }
    .info-wrap .edit-btn-desk {
        display: none;
    }
    .info-wrap .edit-btn-mob {
        display: block !important;
    }
    .site-content-heading {
        font-size: 14px;
    }
    #water-tabs .nav-item {
        padding: 5px 5px;
    }
    .profile-list-mobile {
        column-count: 2;
    }
    .profile-list-mobile .profile-list {
        min-width: 125px;
    }
    .profile-list-mobile .profile-list ul {
        column-count: unset;
    }
    .meter-detail-content .action-wrap {
        padding: 10px 0;
    }
    #meter-detail-tab .nav-link {
        padding: 10px 15px;
        font-size: 14px;
    }
    #meter-detail-tab .table-wrap tbody td {
        padding: 14px 5px;
        font-size: 14px;
    }
    .display-wrap {
        padding: 10px 10px;
        display: block;
    }
    .display-title {
        padding: 0 5px;
    }
    .display-box-wrap {
        margin: 10px 0;
    }
    #Units .search-container input, #Users .search-container input {
        width: 150px;
    }
    .search-select-wrap .select2-list {
        width: 100%;
    }
    .search-select-wrap .select2-search {
        width: 100% !important;
    }
    .add-unit-form .form-group, .edit-unit-form .form-group {
        margin: 5px 0;
    }
    .add-overage-btn, .view-more-btn, .view-less-btn {
        margin: 10px 10px 10px 0px;
    }
    .property-manager-form .form-group {
        margin: 5px 0;
    }
    .add-unit-wrap {
        padding: 8px 50px 8px 50px;
    }
}

@media(max-width: 550px){
    .site-content.graph-bg {
        height: unset;
    }
    .graph-content-empty {
        height: 149px;
    }
}

@media(max-width: 425px){
    .manager-content-body .card-header {
        padding: 5px 10px 5px 10px;
    }
    
    .card-content-right .form-input label {
        position: relative;
        left: unset;
    }
    .manager-content-body .card-body ul li {
        padding: 5px 10px 5px 0;
    }
    .manager-content-body {
        overflow: scroll;
    }
    .manager-content-body form {
        overflow-x: auto;
    }
    .manager-content-body #accordion {
        width: 425px;
        overflow-x: auto;
    }
    .table-top {
        padding: 10px 0 10px 55px;
    }
    .floor-col {
        max-width: 90px;
        padding: 0;
    }
    .edit-unit-form {
    padding: 10px 0;
    }
    .modal-input-wrap {
        display: block;
    }
    .modal-checkbox-wrap {
    margin: 10px 0;
    }
}

